<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emplist</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
    .card {
  margin: auto;
  width: 40%;
  border: 0px solid grey;
  padding: 10px;
  border-radius: 20px;
  background-color:pink;
  align-content:center;
}
</style>
</head>
<body>
<div class="card">
<h1 align="center">Customer Registration</h1><br>
<form method="post" action="" name="">
    <p>Name    :  {{form.cname}}</p>
    <p>Email   :  {{form.email}}</p>
    <p>Phone   :  {{form.phone}}</p>
    <p>Order   :  {{form.order}}</p>
    <p>Village :  {{form.village}}</p>
    <p>Status  :  {{form.status}}</p>
    {% csrf_token %}
    <button type="submit" value="Save" name="save"  class="btn btn-info" style="text-align:center;">Save</button>
    </form>
    </div>
</body>

</html>