<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <style>
.card {
  margin: auto;
  width: 40%;
  border: 0px solid grey;
  padding: 10px;
  border-radius: 20px;
  background-color:pink;
}
</style>
</head>
<body>
<h3 style="text-align:center;color:blue">Customer information:</h3>
<div class="card" style="text-align:center;background-color:pink;margin:auto" >
<h5>{{ customer.cname }} </h5>
<p>{{customer.email}}</p>
    <p>{{ customer.phone }}</p>
    <p>{{ object.village }}</p>
    </div>
</body>
</html>